/* TODO Add site wide styles */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(200deg, rgba(92, 30, 166, 1) 0%, rgba(200, 67, 94, 1) 100%);
    overflow-x: hidden;
    text-align: center;
}

* {
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.main {
    width: 100vw;
    height: 100vh;
}
